alembic==1.7.6
appdirs==1.4.3
apt-xapian-index==0.49
arrow==1.2.1
asgiref==3.4.1
atomicwrites==1.1.5
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
blinker==1.4
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.4
colorama==0.4.3
command-not-found==0.3
cookiecutter==1.7.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.2.9
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==2.0.3
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
gpg===1.13.1-unknown
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.14.0
idna==2.8
importlib-metadata==4.11.2
importlib-resources==5.4.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==2.1.0
jedi==0.15.2
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
Mako==1.1.6
Markdown==3.1.1
MarkupSafe==2.1.0
mercurial-extension-utils==1.5.0
mercurial-keyring==1.3.0
more-itertools==4.2.0
netifaces==0.10.4
nltk==3.7
oauthlib==3.1.0
olefile==0.46
packaging==20.3
parso==0.5.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.0
poyo==0.5.0
prompt-toolkit==2.0.10
psycopg2-binary==2.8.4
py==1.8.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyQt5==5.14.1
pyrsistent==0.15.5
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-slugify==5.0.2
pytz==2021.3
PyYAML==5.3.1
regex==2022.3.2
reportlab==3.5.34
requests==2.27.1
requests-unixsocket==0.2.0
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
soupsieve==2.3.1
SQLAlchemy==1.3.23
sqlparse==0.4.2
systemd-python==234
text-unidecode==1.3
texttable==1.6.2
tqdm==4.63.0
traitlets==4.3.3
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.0.17
wadllib==1.3.3
wcwidth==0.1.8
websocket-client==0.53.0
Werkzeug==2.0.3
xkit==0.0.0
zipp==3.7.0
